###################################################################################################
#### This configuration file changes the default AutoScaling to terminate new instances first
#### In case of any scale down event, AutoScaling will teminate the newly lanched instance.
#### Its useful when your environment is going through frequent scaling acivities and
#### terminating a good/healthy old instance where as your new instance is not yet ready.
###################################################################################################

Resources:
  AWSEBAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      TerminationPolicies:
        - NewestInstance