###################################################################################################
#### This configuration file installs Oracle JDK rpm from Amazon S3 and configures the instance(s)
#### in the Elastic Beanstalk environment to use it.
#### Prior to running the below configuration please download the required Oracle JDK version
#### you wish to use and upload this file to an Amazon S3 bucket:
#### http://www.oracle.com/technetwork/java/javase/downloads/index.html
#### Replace the "Default" value in the Parameters section with the S3 URL of the Oracle JDK rpm 
#### key that you have uploaded to Amazon S3.
###################################################################################################

Parameters:
  oraclejdk: 
    Type: String
    Description: "The path to the Oracle JDK rpm in Amazon S3"
    Default: "https://luxpartyrentsresources.s3.us-west-1.amazonaws.com/jdk-17_linux-x64_bin.rpm"

files:
  "/tmp/oracle-jdk.rpm":
    mode: "000755"
    owner: root
    group: root
    authentication: "S3Auth"
    source: { "Ref" : "oraclejdk" }

  "/tmp/install-oracle-jdk.sh":
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      #!/bin/bash
      rpm -Uvh /tmp/oracle-jdk.rpm
      alternatives --install /usr/bin/java java /usr/java/default/bin/java 3
      alternatives --set java /usr/java/default/bin/java

commands:
  execute-install-oracle-jdk-script:
    command: /tmp/install-oracle-jdk.sh

Resources:
  # Use instance profile to authenticate to S3 bucket that contains the private key
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          roleName: 
            "Fn::GetOptionSetting": 
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
