###################################################################################################
#### The following settings configure your environment to use immutable updates for both
#### a) configuration updates that require instances to be replaced, and b) version deployments.
#### See "Immutable Environment Updates" for more information:
####  https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/environmentmgmt-updates-immutable.html
###################################################################################################

option_settings:
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateType: Immutable
  aws:elasticbeanstalk:command:
    DeploymentPolicy: Immutable
