body{
    height: 100%;
    margin: 0;
    background: url(picture/rose.jpg) no-repeat center center fixed;
    background-size: cover;
    padding-bottom: 60px;
    box-sizing: border-box;
}

#signup-form{
    width: 600px;
    height: auto;
    padding: 1em;
    background: #222222;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    text-align: left;
    color: white;
    display: block;
    padding: 0.5em 1.5em 0.5em 0em;
    width: 80%;
}

.myinput {
    width: 85%;
    background: #2D2D2D;
    margin-bottom: 0.2rem;
    border-radius: 25px;
    color: white;
}

form h2 {
    flex: 0 0 auto;
    text-align: center;
    font-size: 100px;
    color: white;
    margin-top: 0;
}

a.link {
    margin-top: 0.5rem;
    text-decoration: none;
    color: #21A1FD;
}

#password-requirements {
    font-size: 0.9em;
}

#password-requirements ul {
    list-style-type: none;
    padding: 0;
}

#password-requirements li {
    color: white;
}

#password-requirements li:before {
    content: "•";
    color: #007bff;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

#password-requirements li.valid:before {
    color: #28a745; /* Green */
}

#password-requirements li.invalid:before {
    color: #dc3545; /* Red */
}

#signup-form p {
    font-size: 0.9em;
    color: white;
}
#error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
