html { 
  background: url(picture/rose.jpg) no-repeat center center fixed;
  background-size: cover;
}

#top{
  color: white;
  font-size: 40px;
}
.location{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.location p.name{
  color: white;
  font-size: 60px;
}

.login{
  color: white;
  margin-left: 80%;
}

.login a:hover{
  background-color: #ddd;
  color: black;
}

.topnav {
  border-image: linear-gradient(to right, #f2f2f2, #595959, #f2f2f2) 40;
  border-width: 4px;
  border-top: solid;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 40px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.home{
  border-bottom: solid white;
}

.navOptions{
  color: white;
  margin-top: 1%;
}

.navOptions a.home{
  margin-left: 5%;
}
.navOptions a.about{
  margin-left: 5%;
}

.navOptions a.galary{
  margin-left: 5%;
}

.navOptions a.frqs{
  margin-left: 5%;
}

.navOptions a.rentals{
  margin-left: 5%;
}

.search {
    float: right;
    margin-right: 5%;
}

.search input.search {
    float: left;
    padding: 8px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
    width: 200px;
    background-color: #f2f2f2;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.search input.search:focus {
    background-color: #ddd;
}

.searchButton {
    padding: 8px;
    background-color: #ddd;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    float: right;
    margin-left: 20px;
    margin-top: -32px;
}

.searchButton:hover {
    background-color: #bfbfbf;
}


.featured{
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.featured h2{
  color: white;
  text-align: center;
  font-size: 60px;
  border-bottom: solid white;
}

#container { width: 80%; margin-left: auto; margin-right: auto;}

.row1
{
  height: 150px; position: relative;
  padding-bottom: 20px;
  padding-top: 20px;
}
.row2{
  height: 150px; position: relative;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.col1{
  float: left; 
  width:30%;
}

.col2{
  float: left; margin: 0 5%; 
  width:30%;
}

.col3{
  float: right; 
  width:30%;
}

.row1 h3, .row2 h3{
  text-align: center;
  color: white;
  font-size: 60px;
  border-bottom: solid white;
}


.row1 img, .row2 img{
  width: 100%;
  height: 100%;
}

.row1 p, .row2 p{
  color: white;
  font-size: 20px;
}