body{
    height: 100%;
    margin: 0;
    background: url(picture/rose.jpg) no-repeat center center fixed;
    background-size: cover;
    padding-bottom: 60px;
    box-sizing: border-box;
}

#uploadForm{
    width: auto;
    height: auto;
    padding: 1em;
    background: #222222;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#responseMessage {
    text-align: center;
    color: white;
    display: block;
}

.myinput {
    width: 85%;
    background: #2D2D2D;
    margin-bottom: 0.2rem;
    border-radius: 25px;
    color: white;
}

form h3 {
    flex: 0 0 auto;
    text-align: center;
    font-size: 60px;
    color: white;
    margin-top: 0;
}

