<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body class="d-flex h-100 text-center text-bg-dark" style="background-image: url('https://d3snlw7xiuobl9.cloudfront.net/rose.jpg'); background-size: cover; background-position: center;">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div th:replace="~{Navbar :: header}"></div>
    <div th:replace="~{Navbar :: navbar}"></div>
    <div class="row justify-content-center p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-8 text-center p-3 p-lg-5 pt-lg-3">
          <h1 class="display-4 fw-bold mb-4 text-decoration-underline">Who Are We</h1>
          <p class="lead">Lux Party Rents is a premier rental service based in Sacramento, offering a wide range of event essentials and decor to make any occasion truly memorable. Whether you're planning a wedding, corporate gathering, or private celebration, our team is dedicated to providing top-quality service and attention to detail to bring your vision to life.</p>
          <p class="lead">Our mission at Lux Party Rents is to help clients create their ideal event. We are committed to delivering high-quality rental items at affordable prices, ensuring that our clients can achieve the perfect atmosphere for any occasion.</p>
          <h3 class="text-decoration-underline py-3">Have a question or a request? Contact Us:</h3>
          <p class="lead">Email: lpr.luxpartyrents@gmail.com</p>
            <p class="lead">Instagram: lux_party_rents</p>
        </div>
      </div>
</div>


<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>
