<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="../static/styles.css" />
</head>
<body>
  <div class="top">
    <p class="name">Potapov Weddings Rental</p>
    <div class="location">
      <p>Sacaramento | South Carolina</p>
    </div>
  </div>

  <div class="topnav">
    <div class="navOptions">
      <a class="home" href="index.html">Home</a>
      <a class="about" href="about.html">About us</a>
      <a class="galary" href="#gallery">Gallery</a>
      <a class="frqs" href="#faqs">FAQs</a>
      <a class="rentals" href="#rentals">Rentals</a>
    </div>

    <div class="search">
      <input class="search" type="text" placeholder="Search..">
      <button class="searchButton" type="searchButton">Search</button>
    </div>
  </div>

  <table class="options">
    <tr>
      <th>
        <img src="../static/picture/test.jpg" alt="#">
        <p>Name</p>
      </th>
      <th>
        <img src="../static/picture/test.jpg" alt="#">
        <p>Name</p>
      </th>
      <th>
        <img src="../static/picture/test.jpg" alt="#">
        <p>Name</p>
      </th>
      <th>
        <img src="../static/picture/test.jpg" alt="#">
        <p>Name</p>
      </th>
    </tr>
    <tr>
      <th>
        <img src="../static/picture/test.jpg" alt="#">
        <p>Name</p>
      </th>
      <th>
        <img src="../static/picture/test.jpg" alt="#">
        <p>Name</p>
      </th>
      <th>
        <img src="../static/picture/test.jpg" alt="#">
        <p>Name</p>
      </th>
      <th>
        <img src="../static/picture/test.jpg" alt="#">
        <p>Name</p>
      </th>
    </tr>
  </table>

</body>
</html>