<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="newProduct.css">
    <script src="theProduct.js"></script>
</head>

<body>
<div th:replace="~{Navbar :: sessionManagement}"></div>
<div class="container mt-5" id="alert-container">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading" id="alert-heading"></h4>
        <p id="alert-message"></p>
        <hr>
        <p class="mb-0" id="alert-footer"></p>
    </div>
</div>
<div id="page-content" style="display: none">
    <section id="contact">
        <div class="content">
            <div class="hero">
                <label id="drop-area">
                    <div id="img-view">

                    </div>
                    <div id="responseMessage" class="mt-3"></div>
                </label>
            </div>
            <div id="form">
                <form id="updateForm" method="post" onsubmit="return false;"> <!-- Prevent default submission -->
                    <input type="hidden" name="id" class="id"/>

                    <span>Name</span>
                    <input type="text" name="name" class="name" placeholder="Name of Product" tabindex="1"/>

                    <span>Quantity</span>
                    <input type="text" name="quantity" class="quantity" placeholder="Number of items" tabindex="2"/>

                    <span>Price</span>
                    <input type="text" name="price" class="price" placeholder="Price of each item" tabindex="3"/>

                    <span>Type</span>
                    <input type="text" name="type" class="type" placeholder="The type of item" tabindex="4"/>

                    <span>Description</span>
                    <textarea name="description" class="description" placeholder="Enter a simple description of product" tabindex="5"></textarea>
                    <div class="checkbox-container">
                        <input type="checkbox" name="deliveryOnlyCheckBox" id="deliveryOnlyCheckBox">
                        <label for="deliveryOnlyCheckBox">Check this box if the product is delivery only</label>
                    </div>
                    <button type="button" id="updateProductButton" class="btn btn-outline-light btn-lg mx-2" onclick="updateProduct()">update product info</button>
                    <button type="button" id="updateProductPictureButton" class="btn btn-outline-light btn-lg mx-2" onclick="window.location.href='/uploadPicture'">updated product picture</button>
                    <button type="button" id="deleteProductButton" class="btn btn-outline-light btn-lg mx-2" onclick="deleteProduct()">delete</button>
                    <button type="button" id="backButton" class="btn btn-outline-light btn-lg mx-2" onclick="window.location.href='/products'">Back</button>

                </form>
            </div>
        </div>
    </section>
</div>

</body>
</html>