<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potapov Weddings Rental</title>
    <link rel="stylesheet" type="text/css" href="UserOrder_styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</head>

<body class="bg-transparent">
    <div th:replace="~{Navbar :: header}"></div>
    <div th:replace="~{Navbar :: navbar}"></div>

<section class="featured">
    <h2>Cart</h2>
</section>
<div id="container">
    <table class="table ">
        <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Availability</th>
            <th>Item Price</th>
            <th></th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Silvered Victorian Plates</td>
            <td>20</td>
            <td>In-stock</td>
            <td>$20</td>
            <td></td>
            <td>$400</td>
        </tr>
        <tr>
            <td>Silvered Victorian Cutlery</td>
            <td>20</td>
            <td>Back_Ordered</td>
            <td>$10</td>
            <td></td>
            <td>$200</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>$600</td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-outline-light" type="submit" style="float:right;">Go to Checkout</button>
</div>
</body>

</html>