<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potapov Weddings Rental</title>
    <link rel="stylesheet" type="text/css" href="/SeniorProject/static/UserOrder_styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="UserDetails.js"></script>
    <link rel="stylesheet" type="text/css" href="UserDetails.css">
</head>

<body class="bg-transparent">
<div th:replace="~{Navbar :: header}"></div>
<div th:replace="~{Navbar :: navbar}"></div>
<div th:replace="~{Navbar :: sessionManagement}"></div>
<div id="container">

    <form id="user_details" class="form-group">
        <input id="userId" name="userId" type="hidden" value="12345" />

        <label for="fname">First Name:</label>
        <input id="fname" name="fname" type="text" class="form-control" />
        <br />

        <label for="lname">Last Name:</label>
        <input id="lname" name="lname" type="text" class="form-control" />
        <br />

        <label for="phone">Phone Number:</label>
        <input id="phone" name="phone" type="text" class="form-control" />
        <br />

        <label for="email">Email:</label>
        <input id="email" name="email" type="text" class="form-control" />
        <br />

        <button id="button1" name="button1" type="button" onclick="uploadInfo()" class="btn btn-primary">Edit</button>
    </form>

</div>

    <div>
        <button id="pass_res" name="pass_res" type="button">Password Reset</button>
        <br />
        <button id="del_acc" name="del_acc" onclick="deleteAccount()" type="button">Delete Account</button>
    </div>
</body>

</html>